<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>This is index.html!</h1>
	<h3>
		<a th:href="@{/findByName/Smith}">Find Folks with Name Containing Smith</a>
	</h3>
	<div th:if="${studentList != null}">
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
			<tr th:each="s : ${studentList}">
				<td th:text="${s.id}">111222333</td>
				<td th:text="${s.name}">Frank</td>
			</tr>
		</table>
	</div>

	<br>
	<hr>
	<br>
	<form method="post" th:action="@{/insertStudent}" th:object="${student}">
		<input type="hidden" name="id" th:field="*{id}"> 
		Name: <input type="text" name="name" th:field="*{name}"><br> 
		<input type="submit" value="Save Student!">
	</form>
</body>
</html>